<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (@Session["user"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Users", new { area = "" }, new { @class = "item" })</li>
                        <li>@Html.ActionLink("Register", "Register", "Users", new { area = "" }, new { @class = "item" })</li>
                    }
                    else
                    {  
                        Synchronic_World.Models.User user = (Synchronic_World.Models.User)Session["user"];
                        <li><a class="blog-nav-item">Hello @user.UserName</a></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Users", new { area = "" }, new { @class = "item" })</li>
                        <li>@Html.ActionLink("Edit Profile", "EditProfile", "Users", new { area = "" }, new { @class = "item" })</li>
                        <li>@Html.ActionLink("Change password", "ChangePassword", "Users", new { area = "" }, new { @class = "item" })</li>
                        <li>@Html.ActionLink("Search friend", "SearchFriend", "Users", new { area = "" }, new { @class = "item" })</li>
                        <li>@Html.ActionLink("My friends", "Friends", "Users", new { area = "" }, new { @class = "item" })</li>
                        <li>@Html.ActionLink("New event", "NewEvent", "Events", new { area = "" }, new { @class = "item" })</li>
                        <li>@Html.ActionLink("My events created", "MyEvents", "Events", new { area = "" }, new { @class = "item" })</li>
                        <li>@Html.ActionLink("Invited events", "InvitedEvents", "Events", new { area = "" }, new { @class = "item" })</li>
                        if (user.UserRoleId == 1)
                        {
                            <li>@Html.ActionLink("Users admin", "Index", "Users", new { area = "" }, new { @class = "item" })</li>
                            <li>@Html.ActionLink("Events admin", "Index", "Events", new { area = "" }, new { @class = "item" })</li>
                        }
                    }

                    
                </ul>

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>