@model IEnumerable<Synchronic_World.Models.Event>

@{
    ViewBag.Title = "Invited events";
}

<h2>Invited events</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserTable.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contributions)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserTable.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeEvent)
        </td>

        <td>
            <ul>
                @foreach (var participant in item.Participants)
                {
                    <li>@participant.UserName</li>
                }
            </ul>

        </td>

        <td>
            <ul>
                @foreach (var contribution in item.Contributions)
                {
                    <li>
                        <p>Name: @contribution.ContributionEventName</p>
                        <p>Quantity: @contribution.ContributionEventQuantity</p>
                        <p>Type: @contribution.TypeContributionEvent</p>
                    </li>
                }
            </ul>

        </td>
    </tr>
}

</table>
